<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{ BLOG_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ BLOG_KEYWORDS }}"/>
    {{ EXTRA_HEADER }}

    <title>{% block title %}{{ BLOG_TITLE }}{% endblock title %}</title>

    <link href="{{ url('static/images/favicon.ico', last=False) }}" rel="shortcut icon" type="image/x-icon"/>
    <link rel="alternate" type="application/rss+xml" href="{{ url('feed') }}"/>
    {% if google_plus %}
        <link rel="author" href="https://plus.google.com/{{ GOOGLE_PLUS }}"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url('static/css/style.css', last=False) }}"/>
</head>

<body>
<div id="wrap">

    <div id="container">
        <div id="header" onclick="location.href='{{ url('/') }}'">
            <div class="fixed"></div>
        </div>

        <div id="navigation">
            <ul id="menus">
                <li class="current_page_item"><a class="home" title="Главная" href="{{ url('/') }}">Главная</a></li>
                {% for category in categories %}
                    <li><a href="{{ url('category', category|dash) }}">{{ category }}</a></li>
                {% endfor %}
                <li><a class="last-menu" href="javascript:void(0);"></a></li>
            </ul>

            <div class="fixed"></div>
        </div>

        <div id="content">

            <div id="main">

                {% include "include/tabs.html" %}

                {% block content %}{% endblock content %}

                {% if page %}
                    {% include "include/paging.html" %}
                {% endif %}

            </div>

            <div id="sidebar">
                {% include "sidebar/profile.html" %}

                {% include "sidebar/links.html" %}
            </div>


            <div class="fixed"></div>
        </div>

        <div id="footer">
            <a id="gotop" href="#" onclick="">Наверх</a>
            {# TODO: Fix WP link and logo #}
            <a id="powered" href="http://wordpress.org/">WordPress</a>

            <div id="copyright">
                Copyright © 2008-{{ today.year }} Black&amp;White's Blog
            </div>
            <div id="theme-info">
                Template created by <a href="#">B7W</a> and designed by <a href="http://www.neoease.com/">MG12</a>.
            </div>
        </div>

    </div>
</div>

{{ EXTRA_HTML }}

</body>
</html>