{% extends "base.html" %}

{% block title %}{{ BLOG_TITLE }} &rsaquo; All tags{% endblock %}

{% block content %}
    <div class="post">
        <div class="box-caption">
            <h3>All Tags</h3>
        </div>

        <div class="box tabs-box">
            <div>
                {% for tag, size, color in tags.cloud(8, 20) %}
                    <a href="{{ url('tag', tag|dash) }}" rel="tag" style="font-size:{{ size }}pt; color:{{ color }};">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}