<div class="under">
    <span class="categories">Categories:</span>
    <span>
    {% for category in post.meta.categories[0:-1] %}
        <a href="{{ url('category', category|dash) }}" rel="category tag">{{ category }}</a>,
    {% endfor %}

        {% if post.meta.categories %}
            <a href="{{ url('category', post.meta.categories[-1]|dash) }}" rel="category tag">{{ post.meta.categories[-1] }}</a>
        {% else %}
            <a href="#" rel="category tag">No categories</a>
        {% endif %}
    </span>

    <span class="tags">Tags: </span>
    <span>
    {% for tag in post.meta.tags[0:-1] %}
        <a href="{{ url('tag', tag|dash) }}" rel="tag">{{ tag }}</a>,
    {% endfor %}
        {% if post.meta.tags %}
            <a href="{{ url('tag', post.meta.tags[-1]|dash) }}" rel="tag">{{ post.meta.tags[-1] }}</a>
        {% else %}
            <a href="#" rel="category tag">No tags</a>
        {% endif %}
    </span>
</div>