<div id="sidebar-links" class="sidebar">
    <div class="widget">
        <h3>Ссылки</h3>
        <ul>
            <li><a href="{{ url('tags') }}">All tags</a></li>
            <li><a href="https://plus.google.com/{{ GOOGLE_PLUS }}" title="Follow Me">Google plus</a></li>
            <li><a href="http://lintest.ru/wiki/MyRuLib" title="Создатель отличной программы MyRuLib  для организации домашней библиотеки">LinTest</a></li>
            <li><a href="http://sudouser.com/" title="Отличный линукс блог, Можно найти все что захочешь.">Stepanoff Home Network</a></li>
            <li><a href="https://help.ubuntu.com/" title="Документация, краткая и полезная. High recommended!">Ubuntu Help</a></li>
        </ul>
    </div>
</div>