<div id="sidebar-profile" class="sidebar">
    <div class="widget">
        <a href="https://plus.google.com/{{ google_plus }}">
            <img src="{{ url('static/images/b7w.jpg', last=False) }}" class="sided" height="64px" width="64px"/>
        </a>

        <div class="info">
            <a href="https://plus.google.com/{{ google_plus }}">Google plus</a>
            &middot; <a href="url('feed')">RSS</a>

            <p>Come to the dark side. We have cookies :-)</p>
        </div>
    </div>
</div>